  .imgsize::part(image){
        width:  50%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 10px;
        border-radius: 5% !important;
  }

  .text{
      margin-left: 15px;
      margin-right: 15px;
  }

  .hideText {
    margin-left: 15px;
    margin-right: 15px;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .showText {
    margin-left: 15px;
    margin-right: 15px;
    height: 100%;
    overflow: unset;
    text-overflow:ellipsis;
  }

  
  
