<ion-header>
  <ion-toolbar>
    <ion-title>
      Search
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar 
    showCancelButton 
    searchIcon="search" 
    (ionInput)="filterSearch($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-header collapse = "condense">
  <ion-toolbar>
    <ion-title size="large">Search</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
    showCancelButton 
    searchIcon="search" 
    (ionInput)="filterSearch($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-slides [options]="slidesOptions">
    <ion-card *ngFor="let filme of actionMovies | keyvalue" (click)="verMovie('info-movies',filme.key, actionMovies)">
      <ion-img src ={{filme.value.posterLocation}}></ion-img>
      <ion-text hidden="true" >{{filme.value.title}}</ion-text>      
    </ion-card>
  </ion-slides>
</ion-content>


