<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Top Action
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-slides [options]="slidesOptions">
          <ion-slide *ngFor="let action of actionMovies | keyvalue" (click)="verMovie('info-movies',action.key, actionMovies)">
            <ion-img class="input-group" src = {{action.value.posterLocation}}></ion-img>
          </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Top Adventure
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-slides [options]="slidesOptions">
        <ion-slide *ngFor="let adventure of adventureMovies | keyvalue" (click)="verMovie('info-movies',adventure.key, adventureMovies)">
          <ion-img class="input-group" src = {{adventure.value.posterLocation}}></ion-img>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Top Thriller
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-slides [options]="slidesOptions">
        <ion-slide *ngFor="let thriller of thrillerMovies | keyvalue" (click)="verMovie('info-movies',thriller.key, thrillerMovies)">
          <ion-img class="input-group" src = {{thriller.value.posterLocation}}></ion-img>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>
</ion-content>
