<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>


  <!--Tentativa de criar um avatar de perfi, deve ser uma coisa do genero mas no sito correto -->
  <ion-avatar item-start>
    <img src="assets/movies/1.jpg">
  </ion-avatar>
  <h2>
    Slimer
  </h2>
</ion-content>
