<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <!-- <div class="header">
    <h2> Elon Muskteers</h2>
  </div>
  <div class="flex">
    <div class="white-border">
      <div class="img-box">
        <img src="assets/icon/img.png">
      </div>
    </div>
    </div>-->
  <ion-avatar class="item-avatar">
    <img src="assets/icon/img.png">
  </ion-avatar>
  <div class="settings">
    <ion-button slot="icon-only" fill="clear" (click)="nextPage()">
      <ion-icon slot="start" name="settings-outline"></ion-icon>
    </ion-button>
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Watched movies
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-slides [options]="slidesOptions">
        <ion-slide *ngFor="let action of actionMovies | keyvalue" (click)="verMovie('info-movies',action.key, actionMovies)">
          <ion-img src = {{action.value.posterLocation}}></ion-img>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>
</ion-content>
